[submodule "FoundryStorage/lib/forge-std"]
	path = FoundryStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryBank/lib/forge-std"]
	path = FoundryBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryBank/lib/chainlink-brownie-contracts"]
	path = FoundryBank/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundryBank/lib/foundry-devops"]
	path = FoundryBank/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "6.FoundryRaffle/lib/forge-std"]
	path = 6.FoundryRaffle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6.FoundryRaffle/lib/chainlink-brownie-contracts"]
	path = 6.FoundryRaffle/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "6.FoundryRaffle/lib/solmate"]
	path = 6.FoundryRaffle/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "6.FoundryRaffle/lib/foundry-devops"]
	path = 6.FoundryRaffle/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "7.Erc20/lib/forge-std"]
	path = 7.Erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7.Erc20/lib/openzeppelin-contracts"]
	path = 7.Erc20/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "8.NFT/lib/forge-std"]
	path = 8.NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8.NFT/lib/openzeppelin-contracts"]
	path = 8.NFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "8.NFT/lib/foundry-devops"]
	path = 8.NFT/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "9.StableCoin/lib/forge-std"]
	path = 9.StableCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "9.StableCoin/lib/openzeppelin-contracts"]
	path = 9.StableCoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "9.StableCoin/lib/chainlink-brownie-contracts"]
	path = 9.StableCoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "10.MerkleAirdrop/lib/forge-std"]
	path = 10.MerkleAirdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10.MerkleAirdrop/lib/openzeppelin-contracts"]
	path = 10.MerkleAirdrop/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "10.MerkleAirdrop/lib/murky"]
	path = 10.MerkleAirdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "10.MerkleAirdrop/lib/foundry-devops"]
	path = 10.MerkleAirdrop/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "11.Proxy/lib/forge-std"]
	path = 11.Proxy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "11.Proxy/lib/openzeppelin-contracts"]
	path = 11.Proxy/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "11.Proxy/lib/openzeppelin-contracts-upgradeable"]
	path = 11.Proxy/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "11.Proxy/lib/foundry-devops"]
	path = 11.Proxy/lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
[submodule "12.Account_Abstraction/lib/forge-std"]
	path = 12.Account_Abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "12.Account_Abstraction/lib/account-abstraction"]
	path = 12.Account_Abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "12.Account_Abstraction/lib/openzeppelin-contracts"]
	path = 12.Account_Abstraction/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "12.Account_Abstraction/lib/foundry-era-contracts"]
	path = 12.Account_Abstraction/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
[submodule "13.Dao/lib/forge-std"]
	path = 13.Dao/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "13.Dao/lib/openzeppelin-contracts"]
	path = 13.Dao/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
